<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Test-single-page-game by mynameis7</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <!--<script src="javascripts/index.js"></script>-->
  </head>
  <body>
    <!--<div ng-controller="GameController as game">-->

      <label>Department 1:
        <input type="checkbox" ng-model="game.deps.1">
      </label>
      <label>Department 2:
        <input type="checkbox" ng-model="game.deps.2">
      </label>
      <label>Department 3:
        <input type="checkbox" ng-model="game.deps.3">
      </label>
      <label>Department 4:
        <input type="checkbox" ng-model="game.deps.4">
      </label>
      <label>Department 5:
        <input type="checkbox" ng-model="game.deps.5">
      </label>
      <button ng-click="game.getSituation()">GO</button>
    <!--</div>-->
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
